
    <div class="container">
      <!--navbar-->
    <div class="row">
      <div class="span10 offset1" style="position: relative">
        <div class="cover">
          <img class="profilePic" src="/assets/profile.jpg"></img>
        </div>
      </div>
      <div class="span10">
        <p></p>
      </div>
    </div>

    <div class ="row">
      <div class="span3 offset1">
        <div class="popover bottom">
          <div class="arrow"></div>
          <h3 class="popover-title"><%= @user.first_name%> <%= @user.last_name%></h3>

          <div class="popover-content">
            <p>Studied at : <%= @user.education %></p>
            <p>Hobbies : <%= @user.hobby %></p>
            <p>Birthday : <%= @user.birthday.to_s %></p>
            <p>In Relationship with : <%= @user.relationship %></p>
            <%= link_to 'Edit',edit_user_path(@user), class:"btn btn-info btn-mini" %>
            <p></p>
          </div>
        </div>
      </div>

      <div class="span6">        
        <%= form_tag("/", method: "post", remote:true, class:"new_post") do %>
          <%= text_area_tag :content,nil, class:"span12 content", placeholder:"What's on your mind", row:"3" %>
          <%= submit_tag("Post", class:"btn") %>
        <% end %>
        
          <ul class="posts_list">
            <% for post in @posts %>
            <li class="post">
                <div class= "postHeader" >
                  <img class= "span1 commentImage" src="/assets/profile.jpg" >
                  <p><%= @user.first_name%> <%= @user.last_name%></p>
                </div> 
                <div class="postContent">
                  <p>
                    <%= post.content %>
                  </p>
                </div>
            </li>
            <% end %>

          </ul>
      </div>

    </div>  
  </div>
</div>
